/* --------------  LOAD FONTS FROM SERVER ------------------------------ */


@font-face {
 font-family: "IvarHeadline-Regular";
  src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Regular.woff2);
}  

@font-face {
 font-family: "IvarHeadline-Italic";
  src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
} 

@font-face {
 font-family: "IvarHeadline-Bold";
  src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Bold.woff2);
}  

@font-face {
 font-family: "IvarHeadline-BoldItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
} 

@font-face {
 font-family: "Staff-Regular";
  src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Regular.woff2);
}  

@font-face {
 font-family: "Staff-Italic";
  src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Italic.woff2);
} 

@font-face {
 font-family: "Staff-Bold";
  src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Bold.woff2);
}  

@font-face {
 font-family: "Staff-BoldItalic";
  src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-BoldItalic.woff2);
} 

@font-face {
 font-family: "Carrie-Regular";
  src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/VTCCarrie-Regular.woff2);
}  

/* ------------------  EMANCIPATOR COLORS ----------------------------- */
/* FOREST #31463F */
/* ROSE #CD395B */
/* FOREST #31463F */
/* PINK #F6B0A0 */
/* PUTTY #F6F2E1 */
/* SKY #BADEFC */
/* BLACK #1C1C1C */
/* HIGHLIGHTER #EBF952 */


/* --------------  CSS STYLES FOR MY PAGE ------------------------------ */

.emancipator-masthead {
  height: 58px;
  border: 1px solid #979797;
  background-color: #31463f;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
      margin-bottom: 30px;
      background-image: url("https://mediainnovation.camd.northeastern.edu/2022/emancipator/images/Emancipator_Logo_2c_Reversed.png");
      background-size:contain;
      background-repeat: no-repeat;
      background-position: center;
  }


.headline h1 {
    position: 50px;
    color: #CD395B;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    font-family: "IvarHeadline-Regular","Times",serif;
    font-weight: 100; /* Ensures that font is not bolded by browser */
}

.headline h2 {
  position: relative;
  color:#31463F;
  font-size: 2em;
  margin: auto;
  text-align: center;
}

.headline h3 {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
}

.headline h4.overline {
  font-family: "Staff-Bold","Arial",sans-serif;
  font-size: 26px;
  line-height: 24px;
  color: #CD395B;
  text-transform: uppercase;
  letter-spacing: .75px;
  text-align: center;
}

.headline p.byline {
  font-family: "Staff-Regular","Arial",sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #1c1c1c;
  text-align: center;
  }

span.author {
    font-family: "Staff-Bold","Arial",sans-serif;
    color:#CD395B;
}

.header {
  image-orientation: flip;
  width: 400px;
  display: inline;
}

.container p {
    color: #1c1c1c;
    font-family: "Georgia","Times",serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    margin: auto;
    text-indent: 2em;
}

a:link {
    color:#cd395b; /* Uses Emancipator ROSE */
    text-decoration: none;
}

a:visited {
    color:#cd395b;
}

a:hover {
    color:#1c1c1c;
    background-color: #ebf952; /*Sets background of link to Emancipator HIGHLIGHTER */
}

figure {
  display: inline-block;
  border: 3px dotted gray;
  margin-left: 300px;
  margin-right: 300px;
}


figure figcaption {
  color: #31463F;
  font-size: 20px;
  text-align: center;
}

#botsify-embed-div {
  text-align: center;
}

#details {
  font-family: "IvarHeadline-Regular";
  text-align: center;
  background-color:#F6B0A0;
  font-size: 20px;
  ;
}

#detail {
  text-align: center;
  font-size: 25px;
  font-family: "Georgia","Times",serif;
  background-color: "none";
}

.container {
  text-align: justify;
  text-justify: inter-word;
  width: 65%;
  background-color: none;
  margin: 0 250 0 250;
  }

.logo {
  width: 400px;
  display: inline-block;
}


@media (max-width:550px){
  .headline {
      width: 95%;
      margin: 0 auto;
      }
    .container {
      width: 96%;
      margin: 0 auto 0 auto;
      background-color: #F6F2E1;
      }
  }

@media (min-width:551px){
  .headline {
      width: 50%;
      margin: 0 auto;
      }
  .container {
       width: 73%;
       margin: 0 auto 0 auto;
       background-color: #F6F2E1;
      }
  }